/* Reset margins and paddings */
body, h1, h2, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the background color of the body and ensure full height */
body {
    background-color: #151436;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

/* Style the navbar */
.navbar {
    background-color: #73005C;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Center the logo and navigation links */
.logo, .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.nav-links a {
    color: #CEC5B6;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 14px;
    margin: 0 10px;
}

.nav-links a:hover {
    background-color: #151436;
    color: #CEC5B6;
}

/* Center the main content and text */
.mainRec, .product-info, .star-rating, .submit-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mainRec {
    background-color: #CEC5B6;
    width: 80%;
    max-width: 700px;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}

/* Ensure the product image and details are centered */
.product-info img {
    max-width: 100px; /* Adjust this value as necessary */
    height: auto;
    margin-bottom: 10px;
}

/* Star rating aligned center */
.star-rating {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the stars horizontally */
    direction: rtl; /* Right-to-left to allow star selection in a more intuitive way */
}

.star-rating input[type="radio"] {
    display: none; /* Hide radio buttons */
}

.star-rating label {
    font-size: 24px; /* Star size */
    color: #ccc; /* Color of unselected stars */
    cursor: pointer;
    margin: 0 5px; /* Spacing between stars */
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
    color: #f5a623; /* Color of selected/hovered stars */
}


/* Submit button styling */
.submit-btn {
    background-color: #73005C;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #5a0047;
}
