
body, h1, h2, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #151436;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: #73005C;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logo, .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.nav-links a {
    color: #CEC5B6;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 14px;
    margin: 0 10px;
}

.nav-links a:hover {
    background-color: #151436;
    color: #CEC5B6;
}

.mainRec, .product-info, .star-rating, .submit-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mainRec {
    background-color: #CEC5B6;
    width: 50%;
    max-width: 700px;
    min-height: 150px;
    padding: 10px;
    position: relative;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    display: flex; 
    align-items: center; 
  }
  
  .mainRec h1 {
    text-align: left;
    color: #73005C;
    font-size: 24px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 10px; 
  }
  

.product-info img {
    max-width: 100px; 
    height: auto;
    margin-bottom: 10px;
}


.star-rating {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    direction: rtl; 
}

.star-rating input[type="radio"] {
    display: none; 
}

.star-rating label {
    font-size: 24px;
    color: #ccc; 
    cursor: pointer;
    margin: 0 5px;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
    color: #f5a623; 
}

.submit-btn {
    background-color: #73005C;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #5a0047;
}
