<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>View Product</title> 
<link rel="stylesheet" type="text/css" href="/FeE/Client_App/views/ViewProducts/stylesforviewproducts.css">
</head>
<body>
    

<div class="navbar">
  <div class="logo">
    <img src="/FeE/Client_App/views/logo.jpg" alt="Logo">
  </div> 
  <div class="nav-links">
    <a href="../project.html">Home</a>
    <a href="../ViewProducts/viewproducts.html">View products</a>
    <a href="../AddProduct/addproduct.html">Add product</a>
    <a href="../ViewArchive/viewarchive.html">View archive</a>
  </div>
</div>
<div class="mainRec">
  <h1>A list with all the available products</h1>
</div>
<div class="product-list">
  <div class="product">
    <img src="/FeE/Client_App/views/ProductImages/product1.jpg" alt="Product 1">
    <a href="../ProductDetails/product1.html">CHEESY NACHOS ~SALSA~
    </a>
  </div>
  <div class="product">
    <img src="../ProductImages/product2.jpg" alt="Product 2">
    <a href="../ProductDetails/product1.html">PIZZA MANIFESTO ~PARTIGIANO~</a>
  </div>
  <div class="product">
    <img src="../ProductImages/product3.jpg" alt="Product 3">
    <a href="../ProductDetails/product1.html">KING'S DEAL ~BURGER KING~</a>
  </div>
</div>


</body>
</html>
