body {
  font-family: 'Arial', sans-serif;
  background-color: #151436;
  color: #CEC5B6;
  margin: 0;
  padding: 0;
}

/* Navbar styling */
.navbar {
  background-color: #73005C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* Navbar links styling */
.nav-links a {
  color: #CEC5B6;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  background-color: #151436;
  color: #FFFFFF;
}

/* Main container styling */
.mainRec {
  background-color: #CEC5B6;
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: #151436;
  text-align: center;
}

.mainRec h1 {
  color: #73005C;
  font-size: 2.5rem;
  font-family: 'Impact', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
  padding: 0;
}

.product {
  background-color: #ECE5DD;
  border: 1px solid #73005C;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  width: calc(33.333% - 40px);
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.product a {
  display: block;
  color: #73005C;
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.product a:hover {
  color: #151436;
}