
.navbar {
    overflow: hidden;
    background-color: #73005C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 20px;
}

body {
    background-color: #151436;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: #CEC5B6;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 14px;
}

.nav-links a:hover {
    background-color: #151436;
    color: #CEC5B6;
}

.mainRec {
    background-color: #CEC5B6;
    width: 50%;
    max-width: 700px;
    min-height: 150px;
    margin: auto;

    padding: 10px;
    position: relative;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    display: flex; 
    align-items:center; 
  }
 
.mainRec h1 {
    text-align: left;
    color: #73005C;
    font-size: 24px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 10px;
  }


 input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #A16389;
    color: white;
  }

  .sIN, .sUP {
    background-color: #151436;
    color: #CEC5B6;
    padding: 14px 20px;
    margin: 8px 2px;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .sIN:hover, .sUP:hover {
    background-color: #73005C;
  }

  .cancelbutton {
    width: auto;
    padding: 6px 12px;
    color: #CEC5B6;
    background-color: #837c7c;
    cursor: pointer;
  }

  .submitsignUpbutton, .submitsignInbutton {
    background-color: #151436;
    color: #CEC5B6;
    padding: 14px 20px;
    margin: 8px 2px;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .submitsignUpbutton:hover, .submitsignInbutton:hover {
    background-color: #73005C;
  }

  .container {
    padding: 16px;
  }

  .registration {
    color:#73005C;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }

  .fsignUp {
    background-color: #CEC5B6;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .fsignIn{
    background-color: #CEC5B6;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .animation {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }

  @-webkit-keyframes animatezoom {
    from { -webkit-transform: scale(0);}
    to { -webkit-transform: scale(1);}
  }

  @keyframes animatezoom {
    from {transform: scale(0);}
    to {transform: scale(1);}
  }
