body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: #73005C;
    margin-bottom: 20px;
}

h3 {
    color: #151436;
    border-bottom: 2px solid #73005C;
    padding-bottom: 5px;
    margin-top: 30px;
}

h4 {
    color: #73005C;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px;
    background: #f4f4f4;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}